name: Build docker

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: install
        run: |
          cd apps/orbeon && ant && cd build && ls -l && cd ../../..
          cd restxq && ant  && cd build && ls -l && cd ../..
          cd WS && ant  && cd build && ls -l && cd ../..
        shell: bash

      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: opherogel/stromae-db
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          tags: ${{steps.version.outputs.prop}}

  